# Byte-compiled / optimized / DLL files
__pycache__/
**/.DS_Store

# Environments
.venv
.env
.dbt/
logs/
.cache
dev/

#dbt
dbt/dbt_packages
dbt/logs
dbt/target

#airflow
dags/__pycache__
scripts/__pycache__

#pyspark
/pyspark/.ipynb_checkpoints
/pyspark/postgresql-42.6.0.jar
get_pyspark_token.sh
/pyspark/checkpoint
/pyspark/spark-warehouse
/pyspark/*.jar

#sqlmesh
